[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
flake8 = "*"

[packages]
django = "*"
pillow = "*"
django-crispy-forms = "*"
psycopg2 = "*"
django-leaflet = "*"
six = "*"
django-geojson = "*"
coverage = "*"
django-cors-headers = "*"
djangorestframework = "*"
djangorestframework-gis = "*"
autopep8 = "*"
django-nose = "*"
django-admin-env-notice = "*"
djangorestframework-simplejwt = "*"

[requires]
python_version = "*"
