ul {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

ul li {
  border: 1px solid #ddd; /* Add a thin border to each list item */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Add a grey background color */
  padding: 12px; /* Add some padding */
}

.list-group-item {
  margin-top: -1px; /* Prevent double borders */

  background-color: #f6f6f6;

}
/* .face {
    border: #dee2e6;
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    float: left;
    margin-top: 6px;
    margin-left: 15px;
} */
/*   <---- original styling */


.face {
  border: #dee2e6;
  border-style: solid;
  border-width: 1px;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  margin-top: 6px;
  
}
