.leaflet-container {
  width: 100%; 
  height: 95vh;
  /* height: 100%; */
  box-shadow:20px 20px 50px grey;
}

#map
  {
    position: absolute;
    width: 100%;
    
    /* height: inherit; */
  }

.buttontest {
  background: url(beer.ico) no-repeat;
  float: left;
  width: 30px;
  height: 30px;
  background-position-x: 2px
}
#thebutton {
  /* display: none; */
  background-color: lightslategray;
  padding: 0px;
  border-radius: 50%;
  width: 36px;
  height: 38px;
}


/* hide the 'find me' button */
.leaflet-touch .leaflet-bar a {
  display: none;
}