<!DOCTYPE html>
<html lang="en">
{% load leaflet_tags %}
{% load geojson_tags %}

<head>
    {% leaflet_js %}
    {% leaflet_css %}
    <style>
        .leaflet-container {
            width: 450px;
        }
    </style>
    <meta charset="utf-8">
    <title>Nearby Shops</title>
</head>

<body>
    <h1>Nearby Shops</h1>
    {% if shops %}
    <ul>
        {% for shop in shops %}
        <li>
            {{ shop.name }}: {{shop.distance}}
        </li>
        {% endfor %}
    </ul>
    <h1>le meilleur choix pour tous le monde est : {{ result.name }} </h1>
    <h2>{{ result.geom }}</h2>
    {% endif %}
    <br>
    <br>
    {% leaflet_map "yourmap" %}
    <!-- 
    <script type="text/javascript">         
        function map_init(map, options) {
            // get point lat and lon
            var lon = "{{ result.geom.x }}";
            var lat = "{{ result.geom.y }}";
    
            // zoom to point & add it to map
            map.setView([lat, lon], 17);
            L.marker([lat, lon]).addTo(map);
        }
    </script> -->
    <script type="text/javascript">
        var dataurl = '{% url "data" %}';
        var dataurl2 = '{% url "data2" %}';

        window.addEventListener("map:init", function (event) {
            var map = event.detail.map;
            // Download GeoJSON data with Ajax
            fetch(dataurl)
                .then(function (resp) {
                    return resp.json();
                })
                // this function display the 6 closest shops for the user
                .then(function (data) {
                    // define a yellow marker
                    var yellowIcon = new L.Icon({
                        iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-yellow.png',
                        shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
                        iconSize: [25, 41],
                        iconAnchor: [12, 41],
                        popupAnchor: [1, -34],
                        shadowSize: [41, 41]
                    });

                    L.geoJson(data, {
                        // define a color (here yellow) for the marker displayed
                        pointToLayer: function (geoJsonPoint, latlng) {
                            return L.marker(latlng, { icon: yellowIcon });
                        },
                        // add the popup with content (here a name) to the marker
                        onEachFeature: function onEachFeature(feature, layer) {
                            var props = feature.properties;
                            var content = `<h3>${props.name}</h3>`;
                            layer.bindPopup(content);
                        }
                    }).addTo(map);
                })
                // this function display the best match of the closest shops regarding to everybody location
                .then(function (resultat) {
                    var lon = "{{ result.geom.x }}";
                    var lat = "{{ result.geom.y }}";
                    // define a green marker
                    var greenIcon = new L.Icon({
                        iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-green.png',
                        shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
                        iconSize: [25, 41],
                        iconAnchor: [12, 41],
                        popupAnchor: [1, -34],
                        shadowSize: [41, 41]
                    });
                    // fix the non ascii string sended by django
                    function decodeHtml(input) {
                        var txt = document.createElement("textarea");
                        txt.innerHTML = input;
                        return txt.value;
                    }
                    var titre = decodeHtml('{{ result.name }}')

                    map.setView([lat, lon], 14);
                    // set the popup on the marker with the shop name
                    var popup = L.popup()
                        .setContent(`<h3> ${titre} </h3>`);
                    // display the marker
                    L.marker([lat, lon], { icon: greenIcon, title: titre }).bindPopup(popup).addTo(map);
                })
                // this function display all the users on the map
                .then(fetch(dataurl2)
                    .then(function (resp) {
                        return resp.json();
                    })
                    .then(function (data) {
                        L.geoJson(data, {
                            onEachFeature: function onEachFeature(feature, layer) {
                                var props = feature.properties;
                                var content = `<h4>${props.id}</h4>`;
                                layer.bindPopup(content);
                            }
                        }).addTo(map);
                    })
                )
        });
    </script>
</body>

</html>